h1 {
    color: green;
    font-style: italic;
    font-family: fantasy;
}
h2 {
    color:rgb(4, 100, 104);
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    background-color: #decbe9;
}

body{
    background-color: #fcf6bd;
}

#resumo-daianne {
    background-color: #bee0fd;
    font-family:cursive;
    font-size: medium;
    font-style: italic;
}

.list-style {
    background-color: #fcd5ce;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
